.Modal-Window {
	display: flex;
	position: fixed;
	height: max-content;
	max-height: 80%;
	width: max-content;
	max-width: 95vw;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	padding: 2.7rem 0;
	border-radius: 1rem;
	background-color: rgb(9, 17, 15);
	/* overflow: hidden; */
	z-index: 6;
	opacity: 0;
	transition: opacity .4s ease;
}

.Blur-Overlay,
.Blur-Overlay::before {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 5;
}
.Blur-Overlay::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.767);
	z-index: 1;
	backdrop-filter: blur(20px);
	opacity: 0;
	transition: opacity .7s ease;
}

.blur .Blur-Overlay::before {
	opacity: 1;
}

nav {
	transition: opacity .6s ease;
	will-change: opacity;
}
.blur nav {
	opacity: 0;
	z-index: -1;
}

.blur::before {
	content: '';
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	/* backdrop-filter: blur(1px); */
}


.Business-Hours.hidden,
.Online-Booking.hidden {
	display: none;
}

.blur .Business-Hours.shown,
.blur .Online-Booking.shown {
	display: unset;
}

.Modal-Container.hidden {
	visibility: hidden;
}
.Modal-Window.shown {
	opacity: 1;
}