/* General changes applied in consideration to device viewport */

:root {
	/* scale everything with the viewport */
	font-size: calc(16px + (16 - 5) * (100vw - 500px) / (500 - 151));
}

@media screen and (min-width: 501px) {
   :root {
		font-size: calc(18px + (18 - 12) * (100vw - 1500px) / (1500 - 501));
		/* font-size: 16px; */
	}
}
/* @media screen and (min-width: 941px) and (max-width: 1200px) {
   :root {
		font-size: calc(12px + (12 - 8) * (100vw - 1200px) / (1200 - 941));
   }
}
@media screen and (min-width: 1201px) {
   :root {
		font-size: 13px;
	}
} */